@model GoodCompany.Models.Laptop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComputerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsbPorts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsbPorts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamSlots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamSlots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
